<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img class="imgHeader" src="assets/icon/back.png">
  </div>
  <div class="flex">
    <h1> check Your phone number</h1>
    <div class="vl"></div>
    <img class="logo" src="assets/icon/icon.png">
  </div>


  <div class="parent">
    <form [formGroup]="PhoneValidator">
      <br>
      <br>
      <ion-label>Phone number</ion-label>

      <ion-input formControlName="number" type="number" placeholder="201112553539">
        <ion-icon class="icon" name="call"></ion-icon>
      </ion-input>

      <button class="login" (click)="submit()"> <strong> validator</strong></button>

    </form>
  </div>



  <ion-card *ngFor=" let number of PhoneNumbers" (click)="ToViewValidator(number)">

    <ion-card-title>
      {{number}}
    </ion-card-title>
  </ion-card>





</ion-content>